/.vs/
/bin/
/Ascentis.ExternalCache/bin/
/Ascentis.ExternalCache/obj/
/COMRegUnregAssembly/bin/
/COMRegUnregAssembly/obj/
/Ascentis.ExternalCache.Test/bin/
/Ascentis.ExternalCache.Test/obj/
/Ascentis.ExternalCacheItem/bin/
/Ascentis.ExternalCacheItem/obj/
/packages/
/TestResults/
/UpgradeLog.htm
/Ascentis.ExternalCache.TesterConsole/bin/
/Ascentis.ExternalCache.TesterConsole/obj/
*.nupkg
/Ascentis.Dynamo/bin/
/Ascentis.Dynamo/obj/
